@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(193 193 193);
  border-radius: 20px;
}
