<LinkTo @route="index">
  <h3
    data-test-list-title
    class="my-4 text-3xl text-red-400 font-extralight px-3"
  >
    List
  </h3>
</LinkTo>

<Sidebar::FilterButtons />

<ul data-test-list-todos class="h-5/6 overflow-y-scroll scrollbar">
  {{#each this.todoService.filteredTodoList as |todo|}}
    <li>
      <Sidebar::TodoCard @todo={{todo}} />
    </li>
  {{/each}}
</ul>