<h3 data-test-list-title class="text-3xl text-red-400 font-extralight">List</h3>

<ul data-test-list-todos>
  {{#each this.todoService.getTodoList as |todo|}}
    <li class="text-white">
      {{todo.todoTitle}}
    </li>
  {{/each}}
</ul>