{{! <table class="w-full">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody> }}
<div class="mx-32">
  <section class="grid grid-cols-5 text-left font-extralight">
    <h3>Title</h3>
    <h3>Description</h3>
    <h3>Due Date</h3>
    <h3>Done</h3>
  </section>
  <hr class="border-slate-900 mt-3" col />
  {{#each this.todoService.filteredTodoList as |todo|}}
    <TodoListView::TodoRow @todo={{todo}} />
  {{/each}}
</div>
{{! </tbody>
</table> }}